@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: rgb(16, 16, 16);
  background-image: url('/bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  
  font-family:'Lexend', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(245, 245, 245);
}

@layer components{

}